{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/1.JPG' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
        <!-- <p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About</span></p> -->
        <h1 class="mb-3 bread">About Us</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="intro row text-center justify-content-center">
          <!-- <div class="col-md-9">
            <img class="img-fluid" src="{% static 'images/undraw_work_time_lhoj.svg' %}" alt="">
          </div> -->
          <h2 class="mb-4">Welcome to Script</h2>
          <p>We are a group of success driven people with exceptional skills imparting quality enriched education.</p>
          <p>We stand out for the quality of education that we impart. Our team of experts offer exceptional guidance to passionate individuals for accomplishing their goals. Our exemplary community serves as a platform for you to learn, grow and establish yourself. We will help you to Learn, Leap and Lead</p>
          <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section img" style="background-color:powderblue">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="browse-job p-5">
          <span class="icon-search2 icon"></span>
          <span class="subheading">Established on May, 2019</span>
          <!-- <h2>Established on May, 2019</h2> -->
          <br>
          <p>Script was established with the aim to help passionate individuals achieve their goals. Our excellent panel of experts guide you in the right path. Script is open to  all individuals and offers extensive support for beginners to come up in different fields of Technology.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="browse-job p-5">
          <span class="icon-search2 icon"></span>
          <span class="subheading">Our Aim</span>
          <!-- <h2>Our Aim</h2> -->
          <br>
          <p>Script aspires to promote education in an interactive manner so that individuals can learn something new and interesting. We aim to build a community by bringing together professionals and students with the desire to learn more and conquer heights.  </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="browse-job p-5">
          <span class="icon-search2 icon"></span>
          <span class="subheading">Our Vision</span>
          <!-- <h2>Our Vision</h2> -->
          <br>
          <p>We aim to build a large student community reaching a wide range of individuals. Our vision is to impart knowledge in various technical fields to people with the fire to learn.We serve as a platform for enthusiastic learners to grow and establish themselves.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <div class="icon">
                  <span class="flaticon-employee"></span>
                </div>
                <strong class="number" data-number="435000">0</strong>
                <span>Jobs</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <div class="icon">
                  <span class="flaticon-collaboration"></span>
                </div>
                <strong class="number" data-number="40000">0</strong>
                <span>Members</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <div class="icon">
                  <span class="flaticon-resume"></span>
                </div>
                <strong class="number" data-number="30000">0</strong>
                <span>Resume</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <div class="icon">
                  <span class="flaticon-promotions"></span>
                </div>
                <strong class="number" data-number="10500">0</strong>
                <span>Company</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Testimonial</span>
        <h2 class="mb-4">Founders</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl" >

          <div class="item">
            <div class="testimony-wrap py-4 pb-5">
              <div class="user-img mb-4" style="background-image: url('{% static 'images/person_1.jpg' %}')">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">Marketing Manager</span>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="testimony-wrap py-4 pb-5">
              <div class="user-img mb-4" style="background-image: url('{% static 'images/person_2.jpg' %}')">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">Interface Designer</span>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="testimony-wrap py-4 pb-5">
              <div class="user-img mb-4" style="background-image: url('{% static 'images/person_3.jpg' %}')">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">UI Designer</span>
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </div>
  </div>
</section> -->




<section class="ftco-section ftco-candidates ftco-candidates-2 bg-light">
  <div class="container">

    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <!-- <span class="subheading"><h1 style="color:powderblue;">TESTIMONIALS</h1></span> -->
        <h2 class="mb-4">Our Team</h2>
      </div>
    </div>

    <div class="row">
      <br><br><br>
      <div class="col-md-12">
        <div class="team d-md-flex">
          <div class="img" style="background-image: url('{% static 'images/RamanKhokha.JPG' %}');"></div>
          <div class="text pl-md-4">
            <h2>Raman Khokha</h2>
            <p style="color: aqua; background: none;">Co-Founder & COO</p>
            <p>
              <p>Srm Alumni </p>
              <span>IESA Outstanding NFO in Education ;</span>
              &nbsp;<span>Company Of the Year 2019</span>
            </p>
            <p>
              
              <a href="www.linkedin.com/in/ramankhokha" style="color: black;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
              &nbsp<a href="https://www.facebook.com/raman.khokha.9/" style="color: black;"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
              &nbsp<a href="https://www.instagram.com/raman_khokha/" style="color: black;"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
              <!-- &nbsp<a href="#" style="color: black;"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a> -->
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="team d-md-flex">
          <div class="img" style="background-image: url('{% static 'images/NiteshNagpal.JPG' %}');"></div>
          <div class="text pl-md-4">
            <h2>Nitesh Nagpal</h2>
            <p style="color: aqua; background: none;">Co-Founder & CTO</p>
            <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
            <!-- <span class="seen">Last Activity 4 months ago</span> -->

            <p>
              <p>Computer Science engineer and a passionate programmer who had laid his hands on different emerging technologies</p>
              <span>Full Stack Web Developer ;</span>
              &nbsp;<span>Mobile App Developer ;</span>
              &nbsp;<span>Machine Learning Enthusiast</span>
            </p>
            <p>

            <p>
              <a href="https://www.linkedin.com/in/nagpalnitesh/" style="color: black;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
              &nbsp<a href="https://www.facebook.com/itsniteshnagpal" style="color: black;"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
              &nbsp<a href="https://www.instagram.com/_niteshnagpal_/" style="color: black;"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
              <!-- &nbsp<a href="#" style="color: black;"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a> -->
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="team d-md-flex">
          <div class="img" style="background-image: url('{% static 'images/JaiSadana.JPG' %}');"></div>
          <div class="text pl-md-4">
            <h2>Jai Sadana</h2>
            <p style="color: aqua; background: none;">Co-Founder & CEO            </p>
            <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
            <!-- <span class="seen">Last Activity 4 months ago</span> -->

            <p>
              <p>IIT Dwarka alumni </p>
              <span>Young Entrepreneur of the year 2020 ;</span>
              &nbsp;<span>IESA Outstanding NGO of the year 2020 ;</span>
              &nbsp;<span>Company Of the Year 2019 ;</span><br>
              &nbsp;<span>NCO Gold Medal 2017-18</span>
            </p>
            <p>

            <p>
              <a href="https://www.linkedin.com/in/jaisadana/" style="color: black;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
              &nbsp<a href="https://www.facebook.com/jai.sadana.5" style="color: black;"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
              &nbsp<a href="https://www.instagram.com/jaisadana19/" style="color: black;"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
              <!-- &nbsp<a href="#" style="color: black;"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a> -->
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>

  

</section>


<section class="ftco-section bg-light">
  <div class="container" >
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <!-- <span class="subheading"><h1 style="color:powderblue;">TESTIMONIALS</h1></span> -->
        <!-- <span class="obr"></span> -->
        <h2 class="mb-4">Core Team</h2>
      </div>
    </div>

    <div class="row d-flex">
    
      <div class="col-md-3 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch ">
          <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/DanishSoma.jpg' %});">
          </a>
          
          <div class="text mt-3">
            <div class="meta mb-2">
              <h4>Danish Soma</h4>
              <p style="color: aqua; background: none;">Web Developer<a href="https://www.linkedin.com/in/danish-soma/" style="color: black;">&nbsp&nbsp<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></p>
              <!-- <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div> -->
            </div>
            
            <!-- <h3 class="heading">Logistics Head</h3> -->
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch ">
          <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/UtkarshUdit.jpg' %});">
          </a>
          
          <div class="text mt-3">
            <div class="meta mb-2">
              <h4>Utkarsh Udit</h4>
              <p style="color: aqua; background: none;">UI/UX Designer<a href="https://www.linkedin.com/in/utkarsh-udit-396b741a3" style="color: black;">&nbsp&nbsp<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></p>
              <!-- <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div> -->
            </div>
            
            <!-- <h3 class="heading">Logistics Head</h3> -->
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch ">
          <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/bhanujaaggarwal.jpeg' %});">
          </a>
          
          <div class="text mt-3">
            <div class="meta mb-2">
              <h4>Bhanuja Aggarwal</h4>
              <p style="color: aqua; background: none;">Web Developer<a href="https://www.linkedin.com/in/bhanujaaggarwal" style="color: black;">&nbsp&nbsp<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></p>
              <!-- <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div> -->
            </div>
            
            <!-- <h3 class="heading">Logistics Head</h3> -->
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch ">
          <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/NandanaSreeraj.jpeg' %});">
          </a>
          
          <div class="text mt-3">
            <div class="meta mb-2">
              <h4>Nandana Sreeraj</h4>
              <p style="color: aqua; background: none;">Content Writer<a href="https://www.linkedin.com/in/nandana-sreeraj-7369541a0/" style="color: black;">&nbsp&nbsp<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></p>
              <!-- <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div> -->
            </div>
            
            <!-- <h3 class="heading">Logistics Head</h3> -->
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch ">
          <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/AbhishekR.jpg' %});">
          </a>
          
          <div class="text mt-3">
            <div class="meta mb-2">
              <h4>Abhishek R.</h4>
              <p style="color: aqua; background: none;">Operational Manager<a href="https://www.linkedin.com/in/abhishek-r-500175121/" style="color: black;">&nbsp&nbsp<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></p>
              <!-- <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div> -->
            </div>
            
            <!-- <h3 class="heading">Logistics Head</h3> -->
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch ">
          <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/AvikanshitDogra.jpg' %});">
          </a>
          
          <div class="text mt-3">
            <div class="meta mb-2">
              <h4>Avikanshit Dogra</h4>
              <p style="color: aqua; background: none;">Graphic Designer<a href="https://www.linkedin.com/in/avikanshit-dogra-8649b5148" style="color: black;">&nbsp&nbsp<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></p>
              <!-- <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div> -->
            </div>
            
            <!-- <h3 class="heading">Logistics Head</h3> -->
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch ">
          <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/UtkarshSrivastava.png' %});">
          </a>
          
          <div class="text mt-3">
            <div class="meta mb-2">
              <h4>Utkarsh Srivastava</h4>
              <p style="color: aqua; background: none;">Graphic Designer<a href="https://www.linkedin.com/in/utkarsh-srivastava-544a81181" style="color: black;">&nbsp&nbsp<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></p>
              <!-- <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div> -->
            </div>
            
            <!-- <h3 class="heading">Logistics Head</h3> -->
          </div>
        </div>
      </div>

      

      

      

       </div>

      
      
      
    
  </div>
</section>



<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>Subcribe to our Newsletter</h2>
          <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p> -->
          <div class="row d-flex justify-content-center mt-4 mb-4">
            <div class="col-md-12">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
