
<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About</h2>
          <p>Script was established in May, 2019 with the aim to help passionate individuals achieve their goals.  </p>
          <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
          <!-- <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul> -->
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="{% url 'home' %}" class="py-2 d-block">Home</a></li>
            <li><a href="{% url 'candidates' %}" class="py-2 d-block">Community</a></li>
            <li><a href="{% url 'blog' %}" class="py-2 d-block">Events</a></li>
            <li><a href="{% url 'about' %}" class="py-2 d-block">About Us</a></li>
            <li><a href="{% url 'contact' %}" class="py-2 d-block">Contact Us</a></li>
            <!-- <li><a href="#" class="py-2 d-block">Blog</a></li>
            <li><a href="#" class="py-2 d-block">Faq</a></li> -->
          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
         <h2 class="ftco-heading-2">Get Started</h2>
         <p>Join us to be part of the auspicious community</p>
         <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
         <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
           <li class="ftco-animate"><a href="https://twitter.com/ScriptFoundati1?s=20"><span class="icon-twitter"></span></a></li>
           <li class="ftco-animate"><a href="https://m.facebook.com/116644793044995/"><span class="icon-facebook"></span></a></li>
           <li class="ftco-animate"><a href="https://instagram.com/script_foundation?igshid=1mllovur7j2ll"><span class="icon-instagram"></span></a></li>
           <li class="ftco-animate"><a href="https://www.linkedin.com/company/script-foundation-india"><span class="icon-linkedin"></span></a></li>
         </ul>
       </div>
     </div>
      

      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Question?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">308, Aggarwal Tower, Plot No. 2, Sector-5,
                Dwarka, New Delhi-11075</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91 9311782781</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">support@scriptindia.org</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> | All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
