{% extends 'contact/base.html' %} {% load static %} {% block content %}

<div class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/1.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
                <p class="breadcrumbs mb-0"><span class="mr-3"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact</span></p>
                <h1 class="mb-3 bread">Contact Us</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h3">Contact Information</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3">
                <p><span>Address:</span>
                    <a>
                        <br>308, Aggarwal Tower, Plot No. 2, Sector-5,<br> Dwarka, New Delhi-11075
                    </a>
                </p>
            </div>
            <div class="col-md-3">
                <p><span>Phone:</span> <a href="tel://1234567920">+91 9311782781</a></p>
            </div>
            <div class="col-md-3">
                <p><span>Email:</span> <a href="mailto:support@scriptindia.org">support@scriptindia.org</a></p>
            </div>
            <div class="col-md-3">
                <p><span>Website:</span> <a href="#">https://scriptindia.org/</a></p>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form action="#" class="bg-white p-5 contact-form">
                    <input ng-model="name" type="name" class="form-control" placeholder="Your Name">
                    <input ng-model="email" type="email" class="form-control" placeholder="Your Email">
                    <textarea ng-model="msg" type="textarea" cols="30" rows="10" class="form-control" placeholder="Message"></textarea>
                    <button ng-click="contact_form()" class="btn btn-primary py-3 px-5" type="button">SEND MESSAGE</button>
                </form>

            </div>

            <div class="col-md-6 d-flex">
                <!-- <div id="map" class="bg-white"></div> -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56067.83251196872!2d77.07764078951975!3d28.562569091876238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1ad74b460d37%3A0xb457c7b24ccdfa84!2sAggarwal%20Tower!5e0!3m2!1sen!2sin!4v1594226870433!5m2!1sen!2sin"
                    width="600" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Subcribe to our Newsletter</h2>
                    <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p> -->
                    <div class="row d-flex justify-content-center mt-4 mb-4">
                        <div class="col-md-12">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                    <input type="submit" value="Subscribe" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}