{% extends 'base/base.html' %}
{% load static %}

{% block content%}

    <div class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/1.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
          	<!-- <p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Candidates</span></p> -->
            <h1 class="mb-3 bread">Community</h1>
          </div>
        </div>
      </div>
	</div>
	
	<section class="ftco-section img" style="background-color:powderblue">
		<div class="container">
		  <div class="row">
			<div class="col-md-8">
			  <div class="browse-job p-5">
				<span class="icon-search2 icon"></span>
				<span class="subheading">Scipt</span>
				<h2>Join Script Community</h2>
				<p>Join an existing chapter or start a new chapter in your city.<br>Our team will get in touch with you.</p>
				
			  </div>
			</div>
		  </div>
		</div>
	  </section>

	  <section class="ftco-section bg-light">
		<div class="container">
		  <div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
			  <span class="subheading">BlahBlahBlah</span>
			  <h2>Join<span> Script</span></h2>
			</div>
		  </div>
		  <div class="row d-flex">
	
			<div class="col-md-4 d-flex ftco-animate">
			  <div class="blog-entry align-self-stretch" style="background-color: 	#F0F0F0; border-radius: 1rem;padding: 25px;">
				<!-- <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/image_1.jpg' %});"></a> -->
				<div class="text mt-3" style="text-align: center;">
	
				  <h1 style="color: black; font-weight: 800;">Local Chapter</h1>
				  <h3 class="heading">Apply for a new chapter in case one doesn't exist in your city.</h3>
				  <h3 class="heading">Apply as a chapter lead.</h3>
					<a href="https://scriptfoundation.typeform.com/to/Iel1O8r1" class="btn py-2" style="background-color: powderblue;">Apply Now</a>


				</div>
			  </div>
			</div>
	
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry align-self-stretch" style="background-color: 	#F0F0F0; border-radius: 1rem;padding: 25px;">
				  <!-- <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/image_1.jpg' %});"></a> -->
				  <div class="text mt-3" style="text-align: center;">
	  
					<h1 style="color: black; font-weight: 800;">Tech Team</h1>
					<h3 class="heading">Apply for a new chapter in case one doesn't exist in your city.</h3>
					<h3 class="heading">Apply as a chapter lead.</h3>
					  <a href="https://scriptfoundation.typeform.com/to/EZXWJ8Ei" class="btn py-2" style="background-color: powderblue;">Apply Now</a>
  
  
				  </div>
				</div>
			  </div>
	
			  <div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry align-self-stretch" style="background-color: 	#F0F0F0; border-radius: 1rem;padding: 25px;">
				  <!-- <a href="blog-single.html" class="block-20" style="background-image: url({% static 'images/image_1.jpg' %});"></a> -->
				  <div class="text mt-3" style="text-align: center;">
	  
					<h1 style="color: black; font-weight: 800;">Global Chapter</h1>
					<h3 class="heading">Apply for a new chapter in case one doesn't exist in your city.</h3>
					<h3 class="heading">Apply as a chapter lead.</h3>
					  <a href="https://scriptfoundation.typeform.com/to/jKGoxEfo" class="btn py-2" style="background-color: powderblue;">Apply Now</a>
  
  
				  </div>
				</div>
			  </div>
	
			<br>
	
			
	
			
		  </div>
		</div>
	  </section>
	

    <!-- <section class="ftco-section ftco-candidates ftco-candidates-2 bg-light">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="team d-md-flex">
        			<div class="img" style="background-image: url('{% static 'images/person_1.jpg' %}');"></div>
        			<div class="text pl-md-4">
        				<span class="location mb-0">Western City, UK</span>
        				<h2>Danica Lewis</h2>
	        			<span class="position">Graduate</span>
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	        			<span class="seen">Last Activity 4 months ago</span>
	        			<p><a href="#" class="btn btn-primary">Shortlist</a></p>
        			</div>
        		</div>
    			</div>
    			<div class="col-md-6">
    				<div class="team d-md-flex">
        			<div class="img" style="background-image: url('{% static 'images/person_2.jpg' %}');"></div>
        			<div class="text pl-md-4">
        				<span class="location mb-0">Western City, UK</span>
        				<h2>Danica Lewis</h2>
	        			<span class="position">Graduate</span>
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	        			<span class="seen">Last Activity 4 months ago</span>
	        			<p><a href="#" class="btn btn-primary">Shortlist</a></p>
        			</div>
        		</div>
    			</div>
    			<div class="col-md-6">
    				<div class="team d-md-flex">
        			<div class="img" style="background-image: url('{% static 'images/person_3.jpg' %}');"></div>
        			<div class="text pl-md-4">
        				<span class="location mb-0">Western City, UK</span>
        				<h2>Danica Lewis</h2>
	        			<span class="position">Graduate</span>
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	        			<span class="seen">Last Activity 4 months ago</span>
	        			<p><a href="#" class="btn btn-primary">Shortlist</a></p>
        			</div>
        		</div>
    			</div>
    			<div class="col-md-6">
    				<div class="team d-md-flex">
        			<div class="img" style="background-image: url('{% static 'images/person_4.jpg' %}');"></div>
        			<div class="text pl-md-4">
        				<span class="location mb-0">Western City, UK</span>
        				<h2>Danica Lewis</h2>
	        			<span class="position">Graduate</span>
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	        			<span class="seen">Last Activity 4 months ago</span>
	        			<p><a href="#" class="btn btn-primary">Shortlist</a></p>
        			</div>
        		</div>
    			</div>
    			<div class="col-md-6">
    				<div class="team d-md-flex">
        			<div class="img" style="background-image: url('{% static 'images/person_5.jpg' %}');"></div>
        			<div class="text pl-md-4">
        				<span class="location mb-0">Western City, UK</span>
        				<h2>Danica Lewis</h2>
	        			<span class="position">Graduate</span>
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	        			<span class="seen">Last Activity 4 months ago</span>
	        			<p><a href="#" class="btn btn-primary">Shortlist</a></p>
        			</div>
        		</div>
    			</div>
    			<div class="col-md-6">
    				<div class="team d-md-flex">
        			<div class="img" style="background-image: url('{% static 'images/person_6.jpg' %}');"></div>
        			<div class="text pl-md-4">
        				<span class="location mb-0">Western City, UK</span>
        				<h2>Danica Lewis</h2>
	        			<span class="position">Graduate</span>
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
	        			<span class="seen">Last Activity 4 months ago</span>
	        			<p><a href="#" class="btn btn-primary">Shortlist</a></p>
        			</div>
        		</div>
    			</div>
    		</div>
          
        </div>
    </section> -->


	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
				  <h2 class="mb-4">Chapters</h2>
				  <span class="subheading"  style="font-size: 30px;">Local Chapters</span>
				</div>
			</div>
		  <div class="row">
			<div class="col-lg-12 pr-lg-5">

			  <div class="row">
	  
				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Banglore Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Hitesh Kumar</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/heroichitesh/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						  &nbsp;&nbsp;<div>Akshay</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptbangalore" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Delhi Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Sanchi bansal</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/sanchibansal340/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						  &nbsp;&nbsp;<div>Priyal Bhatewara</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/priyal-bhatewara/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptdelhincr" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Noida Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Pranjali Singh</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/pranjali-singh-92314673/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptbangalore" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Chennai Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Harsh Bardhan Mishra</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/harsh-bardhan-mishra-b19990173/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						  &nbsp;&nbsp;<div>Akshat Khanna</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/akshatkhanna7/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptchennai" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Gujrat Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Siddharth Dyalwal</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/siddharth-dayalwal/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptgujarat" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Ghaziabad Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>M.Vineeth</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/vineeth-m-318695170/)" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptbangalore" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">J&K Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Adil Ishaq</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/adil-ishaq-ganai-680842143/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						  &nbsp;&nbsp;<div>Avinash Kaushal</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/avinashkoshal/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptjk" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Dehradun Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Deepanshu Jain</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/deepanshu-jain-26102000/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptbangalore" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Kota Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Shekhar Saini</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/theshekhar/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptbangalore" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Pune Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Abhishek sachan</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						  &nbsp;&nbsp;<div>Abhishek Mankuskar </div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/abhishek-mankuskar-03790018b/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptpune" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Kanpur Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Ayush Pandey</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/ayush-pandey-974393193/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptbangalore" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Punjab Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Shivam Goel</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/shivamgoyal1899/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptbangalore" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Lucknow Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Rashi Pathak</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/rashi-pathak/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptlucknow" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Indore Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Ayush take</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/ayushtake/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptindore" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Vishakhapatnam Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>We're looking for a chapter lead, Apply Now!</div>
						  <!-- &nbsp;&nbsp;<a href="https://www.linkedin.com/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a> -->
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptbangalore" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Goa Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>We're looking for a chapter lead, Apply Now!</div>
						  <!-- &nbsp;&nbsp;<a href="https://www.linkedin.com/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a> -->
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptgoa" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Vellore Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>We're looking for a chapter lead, Apply Now!</div>
						  <!-- &nbsp;&nbsp;<a href="https://www.linkedin.com/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a> -->
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptbangalore" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Orrisa Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>We're looking for a chapter lead, Apply Now!</div>
						  <!-- &nbsp;&nbsp;<a href="https://www.linkedin.com/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a> -->
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptbangalore" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">Coimbatore Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>We're looking for a chapter lead, Apply Now!</div>
						  <!-- &nbsp;&nbsp;<a href="https://www.linkedin.com/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a> -->
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptbangalore" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>

	  
			  </div>
			</div>
			

			


		  </div>
		</div>
		<br><br><br>
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				
				<div class="col-md-7 heading-section text-center ftco-animate">
				  <!-- <h2 class="mb-4">Chapters</h2> -->
				  <span class="subheading" style="font-size: 30px;">International Chapters</span>
				</div>
			</div>
		  <div class="row">
			<div class="col-lg-12 pr-lg-5">

			  <div class="row">
	  
				<div class="col-md-12 ftco-animate">
					<div class="job-post-item py-4 d-block d-lg-flex align-items-center">

					  <div class="one-third mb-4 mb-md-0">
						<div class="job-post-item-header d-flex align-items-center">
						  <h2 class="mr-3 text-black">London Chapter</h2>
						</div>
						<div class="job-post-item-body d-block d-md-flex">
						  <div class="mr-3"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Chapter Lead :</div>
						  <div>Praveen kumar</div>
						  &nbsp;&nbsp;<a href="https://www.linkedin.com/in/praveentech/" style="color: #2477b5;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
						</div>
						<br>
					  </div>
		
					  <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
						<a href="https://t.me/scriptchandigarh" style="color: #40afed"><i class="fa fa-telegram fa-4x" aria-hidden="true"></i>Join</a>
					  </div>

					</div>
				</div>
			

	  
			  </div>
			</div>


		  </div>
		</div>

	  </section>

	  <section class="ftco-section-parallax">
		<div class="parallax-img d-flex align-items-center">
		  <div class="container">
			<div class="row d-flex justify-content-center">
			  <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
				<h2>Subcribe to our Newsletter</h2>
				<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p> -->
				<div class="row d-flex justify-content-center mt-4 mb-4">
				  <div class="col-md-12">
					<form action="#" class="subscribe-form">
					  <div class="form-group d-flex">
						<input type="text" class="form-control" placeholder="Enter email address">
						<input type="submit" value="Subscribe" class="submit px-3">
					  </div>
					</form>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>


{% endblock %}
